<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviado Datos ✔️</title>
</head>
<body>
    <h1>Información de usuario</h1>

    <img src="{% static 'img/peter.jpg' %}" height="200">
    <ul>
        <li>Nombre: {{nombre}}</li>
        <li>Apellido: {{apellido}}</li>
        <li>Correo: {{correo}}</li>
        <li>Dirección: {{direccion}}
        </li>
    </ul>

</body>
</html>